BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
CommentPragmas: '^ IWYU pragma:'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
NamespaceIndentation: All