/.idea
/.vscode
/.claude
/target

grape.toml

# Test/build artifacts
*.out
*.out.c
*.exe
tmp.*
test_*
reasonix.toml

# Wow the extension of VSCode
vscode-gobol/node_modules/
vscode-gobol/.marscode/
vscode-gobol/out/
vscode-gobol/out/extension.js

__pycache__/
